<link rel="stylesheet" href="@components/layout/popup/popup.scss">

<div class="popup" data-anim-popup="popup" aria-hidden="true" hidden role="dialog" aria-modal="true">
	<div class="popup__wrapper" data-anim-popup-wrapper>
		<div class="popup__body" data-anim-popup-body>
			<button class="popup__close" data-anim-popup-close type="button" aria-label="Close popup">
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path opacity="0.85" d="M1.73333 1.48883L21.5469 21.0288" stroke="#979797" stroke-linecap="square" />
					<path opacity="0.85" d="M21.2667 1.48883L1.45309 21.0288" stroke="#979797" stroke-linecap="square" />
				</svg>
			</button>

			<div class="popup__content" data-anim-popup-content>
				<!-- Popup content -->
				<img class="" src="https://wallpapercave.com/wp/wp5335654.jpg" alt="cover">
			</div>
		</div>
	</div>
</div>