<div class="cart">
	<span class="cart__quantity" data-anim-addtocart>0</span>
</div>

<div class="product" data-anim-addtocart-product>
	<img src="@img/favicon.ico" alt="Image" data-anim-addtocart-image>

	<div class="quantity" data-anim-quantity>
		<button class="quantity__button quantity__button--minus" type="button" data-anim-quantity-minus></button>

		<div class="quantity__input">
			<input type="text" name="form[]" value="1" autocomplete="off" data-anim-addtocart-quantity
				data-anim-quantity-value>
		</div>

		<button class="quantity__button quantity__button--plus" type="button" data-anim-quantity-plus></button>
	</div>

	<button data-anim-addtocart-button>
		Add
	</button>
</div>