<!-- Snippet HTML: chart -->


<!-- line chart -->
<canvas data-anim-chart data-anim-chart-type="line" data-anim-chart-labels='["Jan","Feb","Mar","Apr"]'
   data-anim-chart-datasets='[
{
"label":"Visitors",
"data":[120,200,150,300],
"borderColor":"#6366f1",
"backgroundColor":"#6366f1"
}
]'></canvas>


<!-- bar chart -->
<canvas data-anim-chart data-anim-chart-type="bar" data-anim-chart-labels='["Mon","Tue","Wed"]'
   data-anim-chart-datasets='[
{
"label":"Orders",
"data":[5,10,8],
"backgroundColor":"#22c55e"
}
]'></canvas>


<!-- pie chart -->
<canvas data-anim-chart data-anim-chart-type="pie" data-anim-chart-labels='["Red","Blue","Green"]'
   data-anim-chart-datasets='[
{
"data":[10,20,30],
"backgroundColor":["red","blue","green"]
}
]'></canvas>