<!-- Snippet HTML: spollers -->

<div class="spollers" data-anim-spollers>
	<details class="spollers__item">
		<summary class="spollers__title">Spoiler title</summary>
		<div class="spollers__body">Spoiler content</div>
	</details>
</div>


<!-- STRUCTURE for responsive spollers , they will start work only on device whidth < 768 -->
<div class="spollers" data-anim-spollers="768,max">
	<details class="spollers__item">
		<summary class="spollers__title">Spoiler title</summary>
		<div class="spollers__body">Spoiler content</div>
	</details>
</div>