<!-- Snippet HTML: showmore -->


<!-- Collapse by height -->
<div data-anim-showmore>
	<div data-anim-showmore-content data-anim-showmore-content="150">
		long text
	</div>

	<button data-anim-showmore-button>
		<span>Show more</span>
		<span>Hide</span>
	</button>
</div>


<!-- Collapse by items -->
<div data-anim-showmore="items">
	<div data-anim-showmore-content data-anim-showmore-content="3">
		<div>item</div>
		<div>item</div>
		<div>item</div>
		<div>item</div>
	</div>

	<button data-anim-showmore-button>
		<span>Show more</span>
		<span>Hide</span>
	</button>
</div>