<!-- Snippet HTML for short swiper: swiper -->

<div class="swiper" data-anim-slider>
	
	<div class="swiper-wrapper">
		
		<div class="swiper-slide">Slide</div>
		<div class="swiper-slide">Slide</div>
		
	</div>
	
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	
</div>



<!-- Snippet HTML for full swiper: swiperfull -->

<div class="block-name__slider swiper" data-anim-slider>

	<div class="block-name__wrapper swiper-wrapper">
		<div class="block-name__slide swiper-slide"></div>
	</div>

	<div class="swiper-pagination"></div>

	<button type="button" class="swiper-button-prev"></button>
	<button type="button" class="swiper-button-next"></button>

	<div class="swiper-scrollbar"></div>

</div>