<!-- Snippet HTML: tabs -->

<div class="tabs" data-anim-tabs>
	<nav class="tabs__navigation" data-anim-tabs-titles>
		<button class="tabs__title  --tab-active" type="button">Tab #1</button>
		<button class="tabs__title" type="button">Tab #2</button>
		<button class="tabs__title" type="button">Tab #3</button>
	</nav>
	<div class="tabs__content" data-anim-tabs-body>
		<div class="tabs__body">
			Content of the first tab
		</div>
		<div class="tabs__body">
			Content of the second tab
		</div>
		<div class="tabs__body">
			Content of the third tab
		</div>
	</div>
</div>