<!-- Snippet HTML: masonry -->

<div class="masonry">
	<ul class="masonry__filter filter-masonry">
		<li>
			<a data-anim-masonry-filter-link="*" class="--active">
				All
			</a>
		</li>
		<li>
			<a data-anim-masonry-filter-link="a">
				Filter A
			</a>
		</li>
		<li>
			<a data-anim-masonry-filter-link="b">
				Filter B
			</a>
		</li>
	</ul>


	<div data-anim-masonry class="masonry__items">
		<div data-anim-masonry-item data-anim-masonry-filter="a">
			A
		</div>

		<div data-anim-masonry-item data-anim-masonry-filter="b">
			B
		</div>

		<div data-anim-masonry-item data-anim-masonry-filter="c">
			C
		</div>
	</div>
</div>