@import url("https://giscus.app/themes/light.css");

.gsc-footer { display: none !important; }

.btn-primary,
button.btn-primary,
a.btn-primary {
  background-color: hsl(225, 70%, 50%) !important;
  background: hsl(225, 70%, 50%) !important;
  border-color: hsl(225, 70%, 44%) !important;
  color: #fff !important;
}
.btn-primary:hover,
button.btn-primary:hover,
a.btn-primary:hover {
  background-color: hsl(225, 70%, 44%) !important;
  background: hsl(225, 70%, 44%) !important;
}

.gsc-comment-box-write textarea:disabled,
.gsc-comment-box-write textarea[disabled] {
  text-align: center !important;
  padding-top: 1.5rem !important;
}
