<div class="header__menu menu">
	<!-- default version -->
	<button class="menu__icon icon-menu" type="button" data-anim-menu>
		<span></span>
	</button>
	<nav class="menu__body">
		<ul class="menu__list">
			<li class="menu__item">
				<a href="#" class="menu__link menu__link--active">Home</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">About</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Blog</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Contacts</a>
			</li>
		</ul>
	</nav>

	<!-- templating version -->
	<!-- <button class="menu__icon icon-menu" type="button" data-anim-menu><span></span></button>
	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"href": "#","ancor": "Home"},
					{"href": "#","ancor": "About"},
					{"href": "#","ancor": "Blog"},
					{"href": "#","ancor": "Contacts"}
				]'>
				<if condition="'[[active]]' === '[[item.ancor]]'">
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link menu__link--active">[[item.ancor]]</a>
					</li>
				</if>
				<else>
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link">[[item.ancor]]</a>
					</li>
				</else>
			</each>
		</ul>
	</nav> -->
</div>



<!-- 
<fetch url="@components/layout/menu/menu.json">
	<each loop='item in response'>
	</each>
</fetch>
-->