<!doctype html>
<html lang="en">
	<include src="@components/layout/head/head.html" locals='{
		"title":"[[title]]", 
		"preloader": {
			"enable":"[[preloader.enable]]",
			"once":"[[preloader.once]]"
		},
		"keywords":"[[keywords]]", 
		"description":"[[description]]"
	}'>
	</include>
	<script type="module" src="@components/templates/inner/inner.js"></script>
	<link rel="stylesheet" href="@components/templates/inner/inner.scss">
	<body>
		<div class="wrapper" id="app">
			<block name="header"></block>
			<div class="inner">
				<main class="page">
					<block name="main"></block>
				</main>
				<block name="aside"></block>
			</div>
			<block name="footer"></block>
		</div>
		<block name="popup"></block>
		<script type="module" src="@js/app.js"></script>
	</body>
</html>
